moc/
obj/
rcc/
tmp/
ui/
.make.cache
*.BAT
*.inf
Makefile
*.mk
*.loc
*.user
*.mmp
*.pkg
QZXing-build-desktop-Qt_4_7_4_for_Desktop_-_MinGW_4_4__Qt_SDK__Debug/
QZXing-build-desktop-Qt_4_7_4_for_Desktop_-_MinGW_4_4__Qt_SDK__Release/